<%- include("header", {}) %>

<h1> Welcome to <%=title %>,  <%= user %></h1>

<p> BLABALAB</p>

<script>
    var user = "<%= user %>"; // Pasar el nombre del usuario a script.js
</script>
<ul id="messages"></ul>
    <form id="formChat" action="">
        <input id="inputChat" autocomplete="off" /><button>Enviar</button>
    </form>

<%- include("footer", {}) %>